// 主题色方案
$themes: (

    themeRedWine: (
        //字体
        font_color1: #373737,
        font_color2: #6f3e3f,

        //背景
        background_color1: #6f3e3f, //头部 底部 背景色
        background_color2: #fff, //头部 底部 背景色

        // 边框
        border_color1: #6a6a6a,
    ),
    themeRed: (
        //字体
        font_color1: #373737,
        font_color2: #ec4141,

        //背景
        background_color1: #ec4141,
        background_color2: #fff,

        // 边框
        border_color1: #ec4141,
    ),
    themePick: (
        //字体
        font_color1: #373737,
        font_color2: #ff7a9e,

        //背景
        background_color1: #ff7a9e,
        background_color2: #fff,

        // 边框
        border_color1: #ff7a9e,
    ),
    themePinkBlue: (
        //字体
        font_color1: #373737,
        font_color2: #717ff9,

        //背景
        background_color1: #717ff9,
        background_color2: #fff,

        // 边框
        border_color1: #717ff9,
    ),
    themeBlue1: (
        //字体
        font_color1: #373737,
        font_color2: #4791eb,

        //背景
        background_color1: #4791eb,
        background_color2: #fff,

        // 边框
        border_color1: #4791eb,
    ),
    themeBlue2: (
        //字体
        font_color1: #373737,
        font_color2: #39afea,

        //背景
        background_color1: #39afea,
        background_color2: #fff,

        // 边框
        border_color1: #39afea,
    ),
    themeGreen: (
        //字体
        font_color1: #373737,
        font_color2: #2bb669,

        //背景
        background_color1: #2bb669,
        background_color2: #fff,

        // 边框
        border_color1: #2bb669,
    ),
    themeGreen2: (
              //字体
        font_color1: #373737,
        font_color2: #6acc19,

        //背景
        background_color1: #6acc19,
        background_color2: #fff,

        // 边框
        border_color1: #6acc19,
    ),
    themeYellow: (
        //字体
        font_color1: #373737,
        font_color2: #e2ab12,

        //背景
        background_color1: #e2ab12,
        background_color2: #fff,

        // 边框
        border_color1: #e2ab12,
    ),
    themeYellow2: (
        //字体
        font_color1: #373737,
        font_color2: #ff8f57,

        //背景
        background_color1: #ff8f57,
        background_color2: #fff,

        // 边框
        border_color1: #ff8f57,
    ),
    themeRed2: (
        //字体
        font_color1: #373737,
        font_color2: #fd726d,

        //背景
        background_color1: #fd726d,
        background_color2: #fff,

        // 边框
        border_color1: #fd726d,
    ),
    themeBlue3: (
              //字体
        font_color1: #373737,
        font_color2: #3e657e,

        //背景
        background_color1: #3e657e,
        background_color2: #fff,

        // 边框
        border_color1: #3e657e,
    ),
    themePick2: (
        //字体
        font_color1: #373737,
        font_color2: #ff5c8a,

        //背景
        background_color1: #ff5c8a,
        background_color2: #fff,

        // 边框
        border_color1: #ff5c8a,
    ),
    themeGreen3: (
         //字体
        font_color1: #373737,
        font_color2: #81f586,

        //背景
        background_color1: #81f586,
        background_color2: #fff,

        // 边框
        border_color1: #81f586,
    ),
    themeGreen4: (
        //字体
        font_color1: #373737,
        font_color2: #3e7972,

        //背景
        background_color1: #3e7972,
        background_color2: #fff,

        // 边框
        border_color1: #3e7972,
    ),

);

