$header-theme-color: #ec4141;
$header-font-size: white;
$other-theme-color: white;
$other-font-size: #3409f3;
$player-button-color:red;
$them-font-color:rgb(94, 243, 8);
$music-progress-bar:rgb(248, 10, 10);
$nochange-color:#676767